name: Flutter CI

on:
 push:
  branches: [ main ]
 pull_request:
  branches: [ main ]

jobs:
 build:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout repositorio
     uses: actions/checkout@v3

   - name: Configurar Flutter
     uses: flutter-actions/setup-flutter@v2
     with:
      flutter-version: 'stable'  # O reemplaza por una versión válida

   - name: Verificar versión de Flutter
     run: flutter --version

   - name: Obtener dependencias
     run: flutter pub get

   - name: Verificar formato del código
     run: dart format --set-exit-if-changed .

   - name: Ejecutar análisis estático
     run: flutter analyze
